/* VARIABLES */
$primary-color: #33323D;
$bgcolor: #FFFFFF;
$green-color: #5FB4A2;
$btn-color: #203A4C;

/* FONTS */
$main-font: "Public Sans", "Arial", sans-serif;
$secondary-font: "Ibarra Real Nova", "Arial", sans-serif;