/* FOOTER */
.site-footer {
  background-color: rgba(51, 50, 61, 1);
}

.site-footer__nav {
  padding: 0;
  margin: 0;
  text-align: center;
}

.site-footer__nav-item {
  list-style: none;
}

.site-footer__nav-link {
  font-family: $main-font;
  text-decoration: none;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $bgcolor;
  transition: color 0.5s ease;
  margin-bottom: 10px;

  &:hover {
    color: $green-color;
  }
}

.site-footer__content {
  padding: 56px 0;
  text-align: center;
}

.site-footer__content-img {
  margin-bottom: 40px;

  &:hover {
    opacity: 0.7;
  }
}

.site-footer__bottom {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.site-footer__item {
  list-style: none;

  &:not(:first-child) {
    margin-left: 15px;
  }
}

.site-footer__bottom-img {
  fill: $bgcolor;
  transition: fill 0.5s ease;

  &:hover {
    fill: $green-color;
  }
}

@media only screen and (min-width: 768px) {
  /* FOOTER */
  .site-footer {
    padding: 28px 0;
  }

  .site-footer__content {
    display: flex;
    align-items: center;
    padding: 0;
  }

  .site-footer__content-img {
    margin: 0;
  }

  .site-footer__nav {
    display: flex;
    align-items: center;
    margin-left: 49px;
    margin-top: -17px;
  }

  .site-footer__nav-item:not(:last-child) {
    margin-right: 42px;
  }

  .site-footer__bottom {
    margin: 0;
    margin-left: auto;
  }
}